<!-- <form>
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control is-invalid" name="email"  required>
    <div  class="invalid-feedback">
        <div>First Name is required</div>
    </div>
  </div>
</form> -->

<!-- <app-pick-list [lista]="lista"></app-pick-list>

<div  style=" background:red; " [style.width.px] = "width" [style.height.px]="width"></div>
<button class="btn btn-primary mt-2" (click)="add()">width +</button> -->
<p>Data senza pipe : {{data}}</p>
<p>Data con pipe : {{data|date|mioPipe}}</p>
