<div [style.height.px] ="(maxRows + 1) * 63">
<table  class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col" *ngFor="let col of cols">{{col.label}}</th>
      <th scope="col" *ngIf="activateDelete" style="width: 2em"></th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass] ="{'bg-primary':selectIndex == i, 'text-white':selectIndex == i}"  style="cursor: pointer"
    *ngFor="let item of renderedList; let i = index" (click)="selectRow(i)">
      <th scope="row">{{i + 1}}</th>
      <td *ngFor="let colData of cols">{{item[colData.field]}}</td>
      <th scope="col" *ngIf="activateDelete">
        <button class="btn btn-danger" (click)="delete(item, $event)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </th>
    </tr>
  </tbody>
</table>
</div>
<div class="d-flex justify-content-center">
  <app-paginator  [totalItems] ="data.length" (onChangePage) ="changePage($event)"></app-paginator>
</div>
